<h1>Nom da Burga!</h1>

<h2>Eat up the burgers or make your own to Nom on!</h2>

<ul>
    {{#each burger}}
     {{unless devoured}}
         {{> burgers/burger-block devoured=true}}
     {{/unless}}
    {{/each}}
</ul>





<h1>Add a Burger</h1>
<form class="create-group">
    <div class="form-group">
     <label for="burger">Burger Name</label>
     <input type="text" id="burger" name="name">
    </div>

   
</form>